    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html,body{
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    
    }
    @mixin flex-column(){
        display: flex;
        flex-direction: column;
    }
    main{
        #view1{
            overflow: hidden;
            box-sizing: border-box;
            background-color:Rgb(50, 93, 86);
            nav{
                padding: 1.5rem;

                display: flex;
                color: white;
                align-items: center;
                justify-content: space-between;
                #LeftNav{
                    h2{
                        
                    font-size:2rem;
                    
                    span{
                        opacity:0.7;
                    }
                    }
                }
                #RightNav{
                    .normal{
                        display: none;
                    }
                    .mobile{
                        font-size: 2rem;
                        opacity: 0.8;
                    }
                }
            }
            #hero{
                color:white;
                padding-top: 2rem;
                @include flex-column();
                gap:1rem;
                #heroUp{
                    padding-left: 0.7rem;
                    width: 90%;
                    @include flex-column();
                    gap:3vh;
                    #herotext{
                        opacity: 70%;
                    }
                    #herobutton{
                        button{
                            padding: 1rem;
                            border-radius: 30px;
                            font-size: 1rem;
                            color: black;
                            border: none;
                        }
                        #shop{

                            background-color: rgb(241, 193, 17);
                        }
                        #Explore{
                            padding: 0.8rem;
                            background-color: transparent;
                            border: 1px solid rgba(255, 255, 255, 0.755);
                            color: white;
                            font-weight: 900;
                        }
                    }
                   
                }

                 #herodown{
                        position: relative;
                    #dot{
                        position: absolute;
                        top:0;
                        right:0;
                        z-index: 2;
                    }
                    #couch{
                        position: relative;
                        z-index: 5;
                    }
                        
                    }
            }
        }
        #view2{ 
            background-color:whitesmoke;
            padding-top: 8rem;
            overflow: visible;
            @include flex-column();
            gap:1rem;
            #firstCard{
               padding: 0.5rem; 
               width: 80%;
               @include flex-column();
               gap:1rem;
               p{
                opacity: 80%;
                line-height: 1.6;
               }
               button{
                padding: 1rem;
                width: 100px;
                background-color: black;
                color: white;
                border-radius: 30px;
               }
            }

            .product{
                position: relative;
                 object-fit: cover;
                 width: 90%;
                 text-align: center;
                 padding: 3vw;
               #CardContent{
                
                 @include flex-column();
                justify-content: center;
                align-items: center;
                gap:1vh;
                img{
                    width: 80%;
                    transition: all ease-in 0.3s;
                }
               }
               #cardEffect{
                
                 position: absolute;
                 height: 60%;
                 width: 100%;
                 bottom: 0; 
                 opacity: 0;
                 background:  rgba(126, 178, 206, 0.485);
                 transition: all ease-in 0.3s;
                 display: flex;
                 justify-content: center;   
                 align-items: flex-end; 
                 border-radius:10px;
                 overflow: visible !important; 
                 #icon{
                    padding-top: 50px;
                    // opacity: 80%;
                    color: rgb(37, 36, 36);
                    cursor: pointer;
                    transform: translateY(25%);
                    font-size: 2rem;
                 }
               }

               &:hover #cardEffect{
                opacity: 100%;
                
                }
                &:hover #CardContent img{
                    transform: translateY(-20px) scale(1.05);
                
                }
            }
            
        }

        #view3{
            background-color:whitesmoke;
            @include flex-column();
            gap:2rem;
            #up{
                margin-top: 8rem;
                padding: 0.5rem;
                line-height: 1.6;
                @include flex-column();
                gap:1rem;
                #upertext{
                    width: 80%;
                    h2{
                        opacity: 95%;
                    }
                    p{
                        opacity: 70%;
                    }

                }
                #cards{
                    @include flex-column();
                    .rows{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        gap:0.9rem;
                        .card{
                           
                            #cardIcon{
                                 max-width: 200px;
                                font-size: 2rem;
                                position: relative;
                                #ho{
                                 position: absolute;
                                 width: 30px;
                                 height: 30px;
                                 background-color: rgba(113, 184, 184, 0.651);
                                 border-radius: 50%;
                                 top:30%;
                                 left:5%;
                                 opacity: 70%;
                                 display: inline-block;
                                }
                            }
                            
                        }
                    }
                }
            }
            #down{
                text-align: center;
                position: relative;
                img{
                    width: 90%;
                    border-radius: 2rem;
                }
                #hover{
                    // margin: -3%;
                    position: absolute;
                    top:-15%;
                    left:-10%;
                    z-index: 0;
                    // rotate: 180deg;
                    width: 80%;
                    border-radius: 0;
                }
                #whiteSofa{
                    position: relative;
                    z-index: 1;
                }
            }
        }
        #view4{
            @include flex-column();
            margin-top: 3rem;
            #up{
                position: relative;
                #dots{
                    position: absolute;
                    left:0;
                    z-index: 1;
                    img{
                        width: 70%;
                    }
                }
                #bentogrid{
                position: relative;
                z-index: 2;
                display: grid;
                grid-template-columns: 1fr .5fr;
                grid-template-rows: .5fr .5fr;
                grid-template-areas: "uleft uright"
                                    "uleft bright"
                
                ;
                
                padding: 2rem;
                
                .image{
                    img{
                    
                    border-radius: 10px;
                    }
                }
                .mainImg{
                    width: 100%;
                    grid-area: uleft;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .side-top{
                    width: 100%;
                    grid-area: uright;
                    padding: .5rem;
                    img{
                        width: 100%;
                    }
                }
                .side-bottom{
                    width: 100%;
                    grid-area: bright;
                    position: relative;
                    img{
                        position: absolute;
                        top:0;
                        left:-30%;
                        width: 130%;
                    }
                }

                }
            }
            #down{
                @include flex-column();
                margin-top: 2rem;
                gap:2vw;
                padding: 0 0.5rem;
                #topText{
                    line-height: 1.5;
                    h1{
                        font-size: 1.5rem;
                        opacity: 80%;
                    }
                    p{
                        padding: 3vw 0;
                        line-height: 1.6;
                        opacity: 70%;
                    }
                }
                #points {
                    @include flex-column();
                     gap: 2rem; 

                     .row {
                         display: flex;
                         justify-content: space-between; 
                         align-items: center;
                         gap: 1rem; 
                       }
                }
                #button{
                    button{
                        padding: 1rem;
                        background-color: black;
                        color: white;
                        border-radius: 30px;
                    }
                }

            }
        }
        #view5{
            margin-top: 3rem;
            @include flex-column();
            gap:2rem;
            padding-left: 1rem;
            .card{
                display: flex;
                gap:1rem;
                align-items: center;

                .pic{
                    width: 50%;
                    background-color: rgba(0, 255, 255, 0.174);
                    border-radius: 25px;
                    
                    img{
                        width: 100%;
                    
                 }
                }
                .text{
                    @include flex-column();
                    gap:0.5rem;
                    a{
                        text-decoration: none;
                        color: rgba(0, 0, 0, 0.79);
                    }
                    
                }
            }
        }
}



    /* big screen*/
    @media (min-width:987px) {
        main{
            #view1{
                nav{
                    padding: 1vw 5vw;
                    #RightNav{
                        max-width: 90%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap:2vw;
                        
                        .mobile{
                            display: none;
                        }
                        .normal{
                            display: inline-block;
                        }
                        #icon{
                            display: flex;
                            gap:1vw;
                            font-size: 1.2rem;
                        }
                    }
                }
                #hero{
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    #heroUp{
                        // padding: 2vw;
                        // width: 100%;
                        min-width: 50%;
                        
                        #heroMainText{
                            width: 50%;
                            h1{
                                
                                font-size: 3rem;
                            }
                        }
                        #herotext{
                            width: 50%;
                            line-height: 1.5;
                        }
                    }
                    #herodown{
                        width: 50%;
                    }
                }
            }
            #view2{
                
                flex-direction: row;
                padding: 3vw;
                align-items: center;
            }
            #view3{
                flex-direction: row;
                padding: 10vw;
                align-items: center;
                justify-content: space-between;
                
                #up{
                    width: 40%;
                    align-self:flex-start;
                    gap:5vw;
                    #upertext{
                        h2{
                            font-size: 3rem;
                        }
                    }
                }
            

                #down{
                    width: 40%;
                    img{
                        width: 100%;
                    }
                    #hover{
                        width: 60%;
                    }
                    
                }
            }
            #view4{
                flex-direction: row;
                align-items: center;
                
                gap:6vw;
                #up{
                    width: 40%;
                    
                        
                    }
                
                #down{
                    padding-right: 5rem;
                    width: 40%;
                    #topText{
                    line-height: 1.5;
                    h1{
                        font-size: 3rem !important;
                        opacity: 80%;
                    }
                    p{
                        padding: 3vw 0;
                        line-height: 1.6;
                        opacity: 70%;
                        font-size: 1rem !important;
                    }
                }
                }
            }
            #view5{
                flex-direction: row;
                justify-content: center;
                .card{
                    width: 25%;
                    
                }
            }
      
         }  
    }
